* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(assets/bg-mobile.jpg);
  --stoke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg: url(assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(assets/bg-mobile-light.jpg);
  --stoke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg: url(assets/sun.svg);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
  position: relative;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
  font-size: 18px;
}

.description {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.7;
  margin-top: 4px;
}

#switch {
  position: absolute;
  top: 0;
  right: 24px;
  width: 62px;
  margin: 0;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  transition: left 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  left: 32px;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stoke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stoke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s, transform 0.2s;
  font-size: 16px;
}

ul li a:active {
  transform: scale(0.98);
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 768px) {
  :root {
    --bg-url: url(assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(assets/bg-desktop-light.jpg);
  }
}
